{% extends "index.jinja" %}
{% block body %}
    <h1>{{ title }}</h1>
    <form id="tables" action="{{ url_for('process_form') }}" method="post">
        <div class="form-top">
            <input type="submit" class="btn btn-primary ">
            <div>
                <label for="datasource">Data Source:</label>
                <select id="datasource" name="datasource" class="form-select">
                    {% for each in datasources %}
                        <option value="{{ each }}">{{ each }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <fieldset id="score-maps">
            <legend> Text Values</legend>
        </fieldset>
    </form>
    <div class="form-bottom">
        <button id="add-table" class="btn btn-primary">Add New Question</button>
        <button id="add-score-map" class="btn btn-primary"> Add New Text Value</button>
    </div>



    <script>
        // All defined indices start at 1
        let questionIndex = 1;
        const config = JSON.parse(`{{ config|tojson }}`);
        const tables = config["section_config"] ?? [];
        const tableDiv = document.getElementById('tables');
        const subQuestionCurrentIndices = [];
        const freqKeyCurrentIndices = [];

        const datasourceInput = document.getElementById('datasource');
        datasourceInput.value = config['datasource'] ?? '';

        for (let eachTable of tables)
            addQuestion(eachTable);

        populateScoreMap(config['score_map']);

        document.getElementById('add-table').addEventListener('click', () => addQuestion(null))
        document.getElementById('add-score-map').addEventListener('click', () => addScoreMap())

        function addScoreMap(text = null, value = null) {
            const scoreMapsFieldSet = document.getElementById('score-maps');
            const singleScoreMapDiv = document.createElement("div");
            singleScoreMapDiv.classList.add("score-map");

            const scoreName = document.createElement("input");
            scoreName.placeholder = "Text";
            scoreName.type = "text";

            const forLabel = document.createElement("span");
            forLabel.innerHTML = " for ";

            const score = document.createElement("input");
            score.placeholder = "Value";
            score.type = "text";

            if (text && value) {
                scoreName.value = text;
                score.value = value;
            }

            score.name = scoreName.value
            scoreName.oninput = () => score.name = scoreName.value;


            singleScoreMapDiv.appendChild(scoreName);
            singleScoreMapDiv.appendChild(forLabel);
            singleScoreMapDiv.appendChild(score);

            scoreMapsFieldSet.appendChild(singleScoreMapDiv);
        }

        function addQuestion(table = null) {
            tableDiv.append(renderTableHTML())
            addEventListeners()
            if (table) {
                populateSingleInputs(table)
                populateSubquestions(table);
                populateFreqKeys(table);
            } else addFreqKey(questionIndex, true)
            checkType(questionIndex);
            questionIndex++;
        }

        /**
         * Populates the filter, question, and type inputs for a table
         *
         * @param table - The table object to populate the inputs with
         */
        function populateSingleInputs(table) {
            const filterSelect = document.getElementById(`${questionIndex}-filter-type`);
            const filterInput = document.getElementById(`${questionIndex}-filter`);
            const questionInput = document.getElementById(`${questionIndex}-question`);
            const typeSelect = document.getElementById(`${questionIndex}-type`);

            if (table['filter']) {
                const filter = table['filter'].split(' ');
                filterSelect.value = filter[0];
                filterInput.value = filter[1];
            } else {
                filterSelect.value = '';
                filterInput.value = '';
            }
            questionInput.value = table['question'] ?? '';
            typeSelect.value = table['type'] ?? '';
        }

        function populateFreqKeys(table) {
            const freqKeys = table['freq_keys'];

            // If there are freq keys, add the first one and then add the rest
            // If there are no freq keys, then we need to add one empty one so that the user can add more
            if (freqKeys) {
                addFreqKey(questionIndex, true);
                document.getElementById(`${questionIndex}-1-freq_key`).value = freqKeys[0];
                for (let i = 1; i < freqKeys.length; i++) {
                    addFreqKey(questionIndex);
                    document.getElementById(`${questionIndex}-${i + 1}-freq_key`).value = freqKeys[i];
                }
            } else {
                addFreqKey(questionIndex, true);
            }

        }

        function populateScoreMap(map_data) {
            if (map_data) {
                for (let score in map_data) {
                    addScoreMap(score, map_data[score]);
                }
            }
        }

        function populateSubquestions(table) {
            const subquestions = table['sub_questions'];

            if (subquestions) {
                for (let subquestion of subquestions) {
                    addSubquestion(questionIndex);
                    document.getElementById(`${questionIndex}-${subQuestionCurrentIndices[questionIndex] - 1}-sub_question`).value = subquestion;
                }
            }
        }

        function addSubquestion(questionIndexToAddTo) {
            const subquestionsFieldSet = document.getElementById(`${questionIndexToAddTo}-sub_questions`);
            const newInput = document.createElement("input");
            newInput.type = "text";
            newInput.name = `${questionIndexToAddTo}-${subQuestionCurrentIndices[questionIndexToAddTo]}-sub_question`;
            newInput.id = `${questionIndexToAddTo}-${subQuestionCurrentIndices[questionIndexToAddTo]}-sub_question`;
            subQuestionCurrentIndices[questionIndexToAddTo]++;

            subquestionsFieldSet.appendChild(newInput);
        }

        function addFreqKey(questionIndexToAddTo, excludeAnd = false) {
            const fieldset = document.getElementById(`${questionIndexToAddTo}-freq_keys`);
            const newInput = document.createElement("input");
            newInput.type = "text";
            newInput.name = `${questionIndexToAddTo}-${freqKeyCurrentIndices[questionIndexToAddTo]}-freq_key`;
            newInput.id = `${questionIndexToAddTo}-${freqKeyCurrentIndices[questionIndexToAddTo]}-freq_key`;
            freqKeyCurrentIndices[questionIndexToAddTo]++;

            if (!excludeAnd) {
                const and = document.createElement("span");
                and.innerHTML = " and ";
                fieldset.appendChild(and);
            }
            fieldset.appendChild(newInput);
        }

        function checkType(questionIndexToAddTo) {
            const freqKeys = document.getElementById(`${questionIndexToAddTo}-freq_keys`);
            const freqKeyInputs = freqKeys.getElementsByTagName("input");

            const filterDiv = document.getElementById(`${questionIndexToAddTo}-filter-div`);
            const filterDivInputs = filterDiv.getElementsByTagName("input");

            if (document.getElementById(`${questionIndexToAddTo}-type`).value === "mean") {
                freqKeys.style.display = "none";
                for (let input of freqKeyInputs)
                    input.disabled = true;

                filterDiv.style.display = "block";
                for (let input of filterDivInputs)
                    input.disabled = false;
            } else {
                freqKeys.style.display = "block";
                for (let input of freqKeyInputs)
                    input.disabled = false;

                filterDiv.style.display = "none";
                for (let input of filterDivInputs)
                    input.disabled = true;
            }
        }


        function addEventListeners(subQuestionIndexStart = 1, freqKeyIndexStart = 1) {
            // We need to use a const here because the value of questionIndex will change when we add a new question
            // This could affect the index used in the function if we don't use a separate variable
            const questionIndexConst = questionIndex;

            // Both of these are used to keep track of the current index of the subquestion and freq key inputs for each question
            // This is so that we know what the next index should be when we add a new subquestion or freq key
            subQuestionCurrentIndices[questionIndexConst] = subQuestionIndexStart;
            freqKeyCurrentIndices[questionIndexConst] = freqKeyIndexStart;

            document.getElementById(`${questionIndexConst}-type`).onchange = () => checkType(questionIndexConst);

            document.getElementById(`${questionIndexConst}-add-subquestion`).onclick = () => addSubquestion(questionIndexConst);
            document.getElementById(`${questionIndexConst}-add-freq_key`).onclick = () => addFreqKey(questionIndexConst);


        }

        function keywordWarning(parent) {
            const warning = document.createElement('div');
            warning.innerHTML = "Please input exact keywords";
            warning.classList.add("form-text");
            parent.appendChild(warning);
        }

        /*
        * Renders the HTML for a table
        *
        * @param {Object} table - The table object to render
        * @returns {HTMLElement} - The HTML element for the question
        */
        function renderTableHTML() {
            const parentFieldSet = document.createElement('fieldset');
            parentFieldSet.id = questionIndex.toString();

            const legend = document.createElement('legend');
            legend.innerHTML = `Question ${questionIndex}`;
            parentFieldSet.appendChild(legend);

            const questionLabel = document.createElement('label');
            questionLabel.for = `${questionIndex}-question`;
            questionLabel.innerHTML = "Question";
            parentFieldSet.appendChild(questionLabel);

            const questionInput = document.createElement('input');
            questionInput.type = "text";
            questionInput.id = questionLabel.for;
            questionInput.name = questionLabel.for;
            parentFieldSet.appendChild(questionInput);

            const typeLabel = document.createElement('label');
            typeLabel.for = `${questionIndex}-type`;
            typeLabel.innerHTML = "Type";
            parentFieldSet.appendChild(typeLabel);

            const typeSelect = document.createElement('select');
            typeSelect.id = typeLabel.for;
            typeSelect.name = typeLabel.for;
            parentFieldSet.appendChild(typeSelect);

            const freqOption = document.createElement('option');
            freqOption.value = "freq";
            freqOption.innerHTML = "Frequency";
            typeSelect.appendChild(freqOption);

            const meanOption = document.createElement('option');
            meanOption.value = "mean";
            meanOption.innerHTML = "Mean";
            typeSelect.appendChild(meanOption);

            const subquestionsFieldSet = document.createElement('fieldset');
            subquestionsFieldSet.id = `${questionIndex}-sub_questions`;
            parentFieldSet.appendChild(subquestionsFieldSet);

            const subquestionsLegend = document.createElement('legend');
            subquestionsLegend.innerHTML = "Sub-question Keys:";
            subquestionsFieldSet.appendChild(subquestionsLegend);
            keywordWarning(subquestionsFieldSet);

            const addSubquestionButton = document.createElement('button');
            addSubquestionButton.classList.add("btn");
            addSubquestionButton.classList.add("btn-primary");
            addSubquestionButton.classList.add("btn-sm")
            addSubquestionButton.id = `${questionIndex}-add-subquestion`;
            addSubquestionButton.type = "button";
            addSubquestionButton.innerHTML = "Add New Subquestion";
            subquestionsFieldSet.appendChild(addSubquestionButton);

            const freqKeysFieldSet = document.createElement('fieldset');
            freqKeysFieldSet.id = `${questionIndex}-freq_keys`;
            parentFieldSet.appendChild(freqKeysFieldSet);

            const freqKeysLegend = document.createElement('legend');
            freqKeysLegend.innerHTML = "What would you like to find the frequency of?";
            freqKeysFieldSet.appendChild(freqKeysLegend);
            keywordWarning(freqKeysFieldSet);

            const addFreqKeyButton = document.createElement('button');
            addFreqKeyButton.classList.add("btn");
            addFreqKeyButton.classList.add("btn-primary");
            addFreqKeyButton.classList.add("btn-sm")
            addFreqKeyButton.id = `${questionIndex}-add-freq_key`;
            addFreqKeyButton.type = "button";
            addFreqKeyButton.innerHTML = "Add New Frequency Key";
            freqKeysFieldSet.appendChild(addFreqKeyButton);

            const filterDiv = document.createElement('div');
            filterDiv.id = `${questionIndex}-filter-div`;
            parentFieldSet.appendChild(filterDiv);

            const filterLabel = document.createElement('label');
            filterLabel.for = `${questionIndex}-filter`;
            filterLabel.innerHTML = "Filter";
            filterDiv.appendChild(filterLabel);

            const filterSelect = document.createElement('select');
            filterSelect.id = `${questionIndex}-filter-type`;
            filterSelect.name = filterSelect.id;
            filterDiv.appendChild(filterSelect);

            const lessThanOption = document.createElement('option');
            lessThanOption.value = "<=";
            lessThanOption.innerHTML = "Less than or Equals to";
            filterSelect.appendChild(lessThanOption);

            const greaterThanOption = document.createElement('option');
            greaterThanOption.value = ">=";
            greaterThanOption.innerHTML = "Greater than or Equals to";
            filterSelect.appendChild(greaterThanOption);

            const equalToOption = document.createElement('option');
            equalToOption.value = "==";
            equalToOption.innerHTML = "Equals to";
            filterSelect.appendChild(equalToOption);

            const filterInput = document.createElement('input');
            filterInput.type = "text";
            filterInput.placeholder = "A number goes here";
            filterInput.name = filterLabel.for;
            filterInput.id = filterLabel.for;
            filterDiv.appendChild(filterInput);

            return parentFieldSet;
        }
    </script>
{% endblock %}