{% extends "index.jinja" %}
{% block body %}
    <h1>Choose a configuration</h1>
    <h2 style="font-size: 1.5em">Saved Configurations:</h2>
    <ul>
        {% for config in configs %}
            <li>
                <a href="{{ url_for('confirm_config', config=config) }}">{{ config }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock body %}
