{# This is a template for a question. It is not meant to be used directly. #}
{# x-y-thing where x is the index of the question and y is the index of the thing #}
<fieldset id="{{ index }}">
    <legend>
        Question {{ index }}
    </legend>
    <label for="{{ index }}-question">Question</label>
    <input type="text"
           id="{{ index }}-question"
           name="question"
           value="{{ table.get('question') }}"/>
    <label for="{{ index }}-type">Type</label>
    <select id="{{ index }}-type" name="type" value="{{ table.get(type) }}">
        <option value="freq">
            Frequency
        </option>
        <option value="mean">
            Mean
        </option>
    </select>
    <fieldset id="{{ index }}-subquestions">
        <legend>
            Subquestions:
        </legend>
        <button id="add-subquestion">Add New</button>
    </fieldset>
    <fieldset id="{{ index }}-freq-keys">
        <legend>
            What would you like to find the frequency of? (Please input exact keywords)
        </legend>
        <button id="add-freq-key">Add New</button>
        <input type="text" name="1-1-freq-key" id="1-1-freq-key"/>
    </fieldset>
    <div id="{{ index }}-filter-div">
        <label for="{{ index }}-filter">Filter</label>
        <select id="{{ index }}-filter-type" name="filter-type">
            <option value="<=">
                Less than or Equals to
            </option>
            <option value=">=">
                Greater than or Equals to
            </option>
            <option value="==">
                Equals to
            </option>
        </select>
        <input type="text"
               id="{{ index }}-filter"
               name="filter"
               value="{{ table.get('filter')[2:] if table.get('filter') is not none else '' }}"/>
    </div>
</fieldset>
<script>
    let counter_{{index}} = 1;
    document.getElementById("add-subquestion").onclick = function () {
        const fieldset = document.getElementById("{{ index }}-subquestions");
        const newInput = document.createElement("input");
        newInput.type = "text";
        newInput.name = `{{index}}-${counter_{{index}}}-subquestion`;
        newInput.id = `{{index}}-${counter_{{index}}}-subquestion`;
        counter_{{index}}++;

        fieldset.appendChild(newInput);
    };

	let checkType = function () {
		const freqKeys = document.getElementById("{{ index }}-freq-keys");
		const filterDiv = document.getElementById("{{ index }}-filter-div");
		if (document.getElementById("{{ index }}-type").value === "mean") {
			freqKeys.style.display = "none";
			filterDiv.style.display = "block";
		} else {
			freqKeys.style.display = "block";
			filterDiv.style.display = "none";
		}
	};

	document.getElementById("{{ index }}-type").onchange = checkType;

	let freq_key_counter_{{index}} = 2;
    document.getElementById("add-freq-key").onclick = function () {
		const fieldset = document.getElementById("{{ index }}-freq-keys");
        const newInput = document.createElement("input");
        const and = document.createElement("span");
		and.innerHTML = " and ";
        newInput.type = "text";
        newInput.name = `{{index}}-${freq_key_counter_{{index}}}-freq-key`;
        newInput.id = `{{index}}-${freq_key_counter_{{index}}}-freq-key`;
        freq_key_counter_{{index}}++;

        fieldset.appendChild(and);
        fieldset.appendChild(newInput);
    };

	checkType();
</script>
